In [1]:
import pandas as pd

In [2]:
iowa_liquor = pd.read_csv('../1_Data/Iowa_Liquor_Sales.csv')

In [3]:
iowa_liquor.tail()

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
2564560,INV-54500300018,12/30/2022,4654,KUM & GO #510 / STUART,629 S DIVISION ST,STUART,50250.0,POINT (-94.3185 41.49641),NaN,ADAIR,...,10807,CROWN ROYAL REGAL APPLE,12,750,17.49,26.24,4,104.96,3.00,0.79
2564561,INV-54505300022,12/30/2022,4320,FAREWAY STORES #470 / PERRY,1315 WILLIS AVE,PERRY,50220.0,POINT (-94.10303 41.83848),NaN,DALLAS,...,14192,PENDLETON CANADIAN WHISKEY,12,750,15.00,22.50,1,21.00,0.75,0.19
2564562,INV-54502800005,12/30/2022,4417,KUM & GO #76 / ADAIR,109 S 5TH ST,ADAIR,50002.0,POINT (-94.64347 41.49568),NaN,ADAIR,...,36308,HAWKEYE VODKA,6,1750,7.50,11.25,6,64.56,10.50,2.77
2564563,INV-54502500136,12/30/2022,6209,HY-VEE / GRIMES,351 NORTHEAST GATEWAY DRIVE,GRIMES,50111.0,POINT (-93.77819 41.69155),NaN,POLK,...,89206,1800 REPOSADO,12,750,17.50,26.25,12,306.00,9.00,2.37
2564564,INV-54501400024,12/30/2022,4334,FAREWAY STORES #114 / DUBUQUE,2050 JOHN F KENNEDY RD,DUBUQUE,52001.0,POINT (-90.72042 42.50749),NaN,DUBUQUE,...,36304,HAWKEYE VODKA,24,375,2.00,3.00,24,66.96,9.00,2.37

In [4]:
iowa_liquor.columns

Index(['Invoice/Item Number', 'Date', 'Store Number', 'Store Name', 'Address',
       'City', 'Zip Code', 'Store Location', 'County Number', 'County',
       'Category', 'Category Name', 'Vendor Number', 'Vendor Name',
       'Item Number', 'Item Description', 'Pack', 'Bottle Volume (ml)',
       'State Bottle Cost', 'State Bottle Retail', 'Bottles Sold',
       'Sale (Dollars)', 'Volume Sold (Liters)', 'Volume Sold (Gallons)'],
      dtype='object')

In [5]:
iowa_liquor.shape

(2564565, 24)

In [6]:
iowa_liquor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2564565 entries, 0 to 2564564
Data columns (total 24 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Invoice/Item Number    object
 1   Date                   object
 2   Store Number           int64
 3   Store Name             object
 4   Address                object
 5   City                   object
 6   Zip Code               float64
 7   Store Location         object
 8   County Number          float64
 9   County                 object
 10  Category               int64
 11  Category Name          object
 12  Vendor Number          int64
 13  Vendor Name            object
 14  Item Number            int64
 15  Item Description       object
 16  Pack                   int64
 17  Bottle Volume (ml)     int64
 18  State Bottle Cost      float64
 19  State Bottle Retail    float64
 20  Bottles Sold           int64
 21  Sale (Dollars)         float64
 22  Volume Sold (Liters)   float64
 23  Volume Sold (Gallons)  float64
dtypes: float64(7), int64(7), object(10)
memory usage: 469.6+ MB

In [7]:
iowa_liquor['Vendor Name'].value_counts()

SAZERAC COMPANY  INC              415177
DIAGEO AMERICAS                   394157
JIM BEAM BRANDS                   215626
HEAVEN HILL BRANDS                199752
LUXCO INC                         168405
                                   ...
SPLINTER GROUP NAPA, LLC               1
SEVEN JARS DISTILLERY, LLC             1
SURVILLE ENTERPRISES CORP              1
HAMILTON DISTILLERS GROUP, INC         1
EOD DISTILLERY, LLC                    1
Name: Vendor Name, Length: 237, dtype: int64

## Data Cleaning Observation

## 1) unnecessary columns should be removed
## 2) column names should be in lower case with underscore as a substitute for spaces
## 3) columns names should have the right datatype assigned

## Data Cleaning

In [8]:
iowa_liquor_clean = iowa_liquor.copy()

In [9]:
iowa_liquor_clean.head()

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,INV-43468400010,01/02/2022,2536,HY-VEE / PLEASANT HILL,4815 MAPLE DRIVE,PLEASANT HILL,50317.0,POINT (-93.519491 41.598133),77.0,POLK,...,86990,CEDAR RIDGE SIR MAPLE,6,750,23.00,34.50,6,207.00,4.5,1.18
1,INV-43468500035,01/02/2022,2190,"CENTRAL CITY LIQUOR, INC.",1460 2ND AVE,DES MOINES,50314.0,POINT (-93.619788 41.605706),77.0,POLK,...,43031,BACARDI GOLD MINI,12,50,5.54,8.31,2,16.62,0.1,0.02
2,INV-43468500011,01/02/2022,2190,"CENTRAL CITY LIQUOR, INC.",1460 2ND AVE,DES MOINES,50314.0,POINT (-93.619788 41.605706),77.0,POLK,...,4246,ARDBEG WEE BEASTIE,6,750,23.99,35.99,6,215.94,4.5,1.18
3,INV-43468500020,01/02/2022,2190,"CENTRAL CITY LIQUOR, INC.",1460 2ND AVE,DES MOINES,50314.0,POINT (-93.619788 41.605706),77.0,POLK,...,36576,SVEDKA BLUE RASPBERRY,12,750,8.00,12.00,2,24.00,1.5,0.39
4,INV-43468500039,01/02/2022,2190,"CENTRAL CITY LIQUOR, INC.",1460 2ND AVE,DES MOINES,50314.0,POINT (-93.619788 41.605706),77.0,POLK,...,88533,MI CAMPO REPOSADO,12,750,12.40,18.60,2,37.20,1.5,0.39

## Remove unnecessary columns

In [10]:
iowa_liquor_clean.drop(['Store Number', 'Address','Zip Code', 'County Number', 'Store Location',
       'Category', 'Vendor Number','Item Number', 'Pack'], axis=1, inplace=True)

In [11]:
iowa_liquor_clean.columns

Index(['Invoice/Item Number', 'Date', 'Store Name', 'City', 'County',
       'Category Name', 'Vendor Name', 'Item Description',
       'Bottle Volume (ml)', 'State Bottle Cost', 'State Bottle Retail',
       'Bottles Sold', 'Sale (Dollars)', 'Volume Sold (Liters)',
       'Volume Sold (Gallons)'],
      dtype='object')

## Transform column names to lower case

In [12]:
iowa_liquor_clean = iowa_liquor_clean.rename(columns=str.lower)

In [13]:
iowa_liquor_clean.columns

Index(['invoice/item number', 'date', 'store name', 'city', 'county',
       'category name', 'vendor name', 'item description',
       'bottle volume (ml)', 'state bottle cost', 'state bottle retail',
       'bottles sold', 'sale (dollars)', 'volume sold (liters)',
       'volume sold (gallons)'],
      dtype='object')

## Replace spaces in column name with underscores

In [14]:
iowa_columns = iowa_liquor_clean.columns

In [15]:
iowa_liquor_clean.columns = iowa_liquor_clean.columns.str.replace(" ", "_")

In [16]:
iowa_liquor_clean.columns

Index(['invoice/item_number', 'date', 'store_name', 'city', 'county',
       'category_name', 'vendor_name', 'item_description',
       'bottle_volume_(ml)', 'state_bottle_cost', 'state_bottle_retail',
       'bottles_sold', 'sale_(dollars)', 'volume_sold_(liters)',
       'volume_sold_(gallons)'],
      dtype='object')

## Assign column names the right datatype

In [17]:
iowa_liquor_clean.head(2)

,invoice/item_number,date,store_name,city,county,category_name,vendor_name,item_description,bottle_volume_(ml),state_bottle_cost,state_bottle_retail,bottles_sold,sale_(dollars),volume_sold_(liters),volume_sold_(gallons)
0,INV-43468400010,01/02/2022,HY-VEE / PLEASANT HILL,PLEASANT HILL,POLK,TEMPORARY & SPECIALTY PACKAGES,CEDAR RIDGE VINEYARDS LL,CEDAR RIDGE SIR MAPLE,750,23.00,34.50,6,207.00,4.5,1.18
1,INV-43468500035,01/02/2022,"CENTRAL CITY LIQUOR, INC.",DES MOINES,POLK,GOLD RUM,BACARDI USA INC,BACARDI GOLD MINI,50,5.54,8.31,2,16.62,0.1,0.02

In [18]:
iowa_liquor_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2564565 entries, 0 to 2564564
Data columns (total 15 columns):
 #   Column                 Dtype
---  ------                 -----
 0   invoice/item_number    object
 1   date                   object
 2   store_name             object
 3   city                   object
 4   county                 object
 5   category_name          object
 6   vendor_name            object
 7   item_description       object
 8   bottle_volume_(ml)     int64
 9   state_bottle_cost      float64
 10  state_bottle_retail    float64
 11  bottles_sold           int64
 12  sale_(dollars)         float64
 13  volume_sold_(liters)   float64
 14  volume_sold_(gallons)  float64
dtypes: float64(5), int64(2), object(8)
memory usage: 293.5+ MB

## Change date to a datetime datatype

In [19]:
iowa_liquor_clean['date'] = pd.to_datetime(iowa_liquor_clean.date)

In [20]:
iowa_liquor_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2564565 entries, 0 to 2564564
Data columns (total 15 columns):
 #   Column                 Dtype
---  ------                 -----
 0   invoice/item_number    object
 1   date                   datetime64[ns]
 2   store_name             object
 3   city                   object
 4   county                 object
 5   category_name          object
 6   vendor_name            object
 7   item_description       object
 8   bottle_volume_(ml)     int64
 9   state_bottle_cost      float64
 10  state_bottle_retail    float64
 11  bottles_sold           int64
 12  sale_(dollars)         float64
 13  volume_sold_(liters)   float64
 14  volume_sold_(gallons)  float64
dtypes: datetime64[ns](1), float64(5), int64(2), object(7)
memory usage: 293.5+ MB

In [21]:
iowa_liquor_clean['date'] = pd.to_datetime(iowa_liquor_clean.date)

In [22]:
iowa_liquor_clean['month'] = iowa_liquor_clean.date.dt.month

In [23]:
import calendar

In [ ]:
iowa_liquor_clean['month_name'] = iowa_liquor_clean['month'].apply(lambda x: calendar.month_name[x])

In [ ]:
iowa_liquor_clean.to_csv('../3_Analysis/iowa_liquor_clean.csv', index=False)